
@media screen and (max-width: 1279px){
  
}

@media screen and (max-width: 991px){
    .hero_section_img {
        width: 100%;
    }

    .tabs-slider-root {
        gap: 20px;
    }

    .how_body_works{
        border: 0;
    }

    .body_works_imgWrap{
        position: relative;
        left: auto;
        aspect-ratio: unset;
        width: 500px;
        height: 500px;
    }
    .body_work_mainCntnt{
        width: 100%;
        gap: 100px;
    }
    .body_works_miniCntnt{
        max-width: 100%;
    }



    .steps_cntnt_wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px 20px;
    }

    .approach_slider_wrap{
        padding: 0 40px;
    }
}

@media screen and (max-width: 767px){
    section{
        overflow: hidden;
    }

    .hero_section{
        overflow: hidden;
    }
    .hero_section_img {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 200%;
        transform: translate(-50%, 0);
    }



    .early_action_cntnt_wrap .section_head {
        max-width: 500px;
    }


    .tabs-slider-root{
        flex-direction: column;
    }
    .tabs-panel{
        width: 100%;
    }
    .slider-panel{
        padding: 24px 0 100px 50px;
    }
    .slider_image{
        max-height: unset;
    }




    .early_action_Img{
        width: 150%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .early_action_in {
        padding: 0px 0 100px 0;
    }
    .early_action_miniCntnt{
        margin-top: 50px;
    }


    .body_works_imgWrap{
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .body_work_mainCntnt{
        gap: 50px;
    }
    .ctaPara{
        text-align: center;
        max-width: 90%;
    }


    .tabs-panel{
        padding: 8px 0 8px 35px;
    }
    .tab-logomark{
        width: 25px;
        height: 25px;
        left: -35px;
    }



    .outcomes_wheel_section{
        display: none;
    }
    .outcomes_mobile_section{
        display: block;
    }
    .outComes_mobile_wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }
    .outComes_points{
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #565656;
    }



    .approach_gradient {
        position: absolute;
        left: 0;
        right: 0;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 200%;
    }


    .difference_img {
        max-width: unset;
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
        width: 100%;
    }

    .venn-section{
        margin-top: 0;
        padding: 40px 0;
    }
    .logomrk_label{
        max-width: 30px;
    }
    .venn-label{
        font-size: 14px;
        line-height: 110%;
    }

    .spacer.hideSpacer{
        display: none;
    }



    .plan_section_in{
        padding: 40px 0;
    }
    .plan_cards_container{
        max-width: unset;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .faqSection_in{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .faqSection_in .section_head{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .preFooter_in{
        padding-bottom: 300px;
    }
    .preFooter_cntnt .preFooter_title{
        font-size: 38px;
    }
    .preFooter_img_wrap{
        width: 120%;
        max-width: unset;
    }



    .footer_in{
        padding: 40px 0 0;
        gap: 50px;
    }
    .footer_gradient img{
        margin-bottom: -50px;
    }
}


@media screen and (max-width: 479px){
    .hero_content_wrap.hero_content_wrap_bot{
        height: 90%;
    }
    .hero_section_img{
        width: 260%;
    }
    .hero_cntnt_points{
        text-align: center;
        max-width: 86%;
    }


    .body_work_gradient{
        width: 70%;
        height: 70%;
    }
    .body_work_img{
        width: 80%;
    }
    .body_work_mainCntnt{
        padding: 30px 0;
    }
    .section_CTA{
        margin-top: 100px;
    }



    .outComes_wheel_wrapper{
        margin-top: 100px;
    }
    .shift-wrapper{
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle-svg{
        width: 200px;
        height: 200px;
    }
    .shift-wrapper .point{
        font-size: 14px;
        min-width: 78px;
    }
    .shift-wrapper .point-1{
        top: -60px;
    }
    .shift-wrapper .point-2,
    .shift-wrapper .point-4{
        top: 35%;
    }
    .shift-wrapper .point-3{
        top: 100%;
    }
    .wheel_image_wrap .logoMark_area{
        width: 50%;
        height: 50%;
    }
    .logoMark_img{
        max-width: 40px;
    }


    .health_system_in{
        gap: 40px;
        padding: 40px 0 80px;
    }
    .slider-panel{
        padding: 10px 0 60px;
    }
    .tab-item h3{
        font-size: 18px;
    }
    .tab-item p{
        font-size: 14px;
    }



    .steps_section_in{
        padding: 40px 0;
        gap: 40px;
    }
    .steps_cntnt_wrap{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }
    .steps_card_item{
        gap: 20px;
        border: 0;
        border-bottom: 0.7px solid rgba(150, 150, 150, 1);
        padding: 0 0 20px;
    }
    .step_count{
        font-size: 26px;
    }



    .highlightText p{
        font-size: 14px;
    }


    .approach_slider_wrap{
        padding: 0 20px;
    }
    .approach_slider_wrap .splide__slide .slider_image{
        height: 300px;
        aspect-ratio: auto;
    }


    .difference_section_in{
        padding-top: 50px;
    }
    .difference_img{
        width: 140%;
        top: -40px;
    }
    #vs line{
        stroke-width: 2px;
    }



    .faq-question{
        font-size: 16px;
        gap: 20px;
        line-height: 130%;
    }
    .faq-answer p{
        font-size: 14px;
    }


    .preFooter_in{
        padding-bottom: 200px;
    }
    .preFooter_cntnt .preFooter_title{
        font-size: 30px;
    }
    .preFooter_cta_btn{
        margin-top: 30px;
    }
    .preFooter_img_wrap{
        width: 120%;
    }


    .footer_info_bar{
        flex-direction: column;
        align-items: center;
    }
}   




/* =========================================== */
/* ------- SERVICE LP RESPONSIVE STYLE ------- */
/* =========================================== */

@media screen and (max-width: 1279px){
    .restore_card1 {
        top: 24%;
        left: 70%;
        max-width: 280px;
    }


    .moment_cntnt_wrapper .moment_img_Wrap{
        width: 80%;
    }


    .tech_meet_bio_cntntWrap{
        gap: 10px;
    }
    .tech_meet_bio_card{
        gap: 80px;
    }
}



/* === TABLET: 991px and below === */
@media (max-width: 991px) {
    .hero_content_wrap_top h1{
        font-size: 48px;
    }

  .restore-wheel-wrapper {
    max-width: 600px;
    margin-top: -60px;
  }

  .restore_card1 {
    top: 22%;
    left: 72%;
    max-width: 240px;
  }
  .restore_card2 {
    top: 60%;
    left: 64%;
    max-width: 220px;
  }
  .restore_card3 {
    top: 60%;
    left: -2%;
    max-width: 220px;
  }
  .restore_card4 {
    top: 22%;
    left: -4%;
    max-width: 220px;
  }

  .restore-card h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  .restore-card p {
    font-size: 12px;
  }
  .restore-card {
    padding: 14px 16px;
    border-radius: 10px;
  }

  /* Dots */
  .restore-point-1 {
    top: 29%;
    left: 80%;
  }
  .restore-point-2 {
    top: 65%;
    left: 77.3%;
  }
  .restore-point-3 {
    top: 65.5%;
    left: 19%;
  }
  .restore-point-4 {
    top: 28%;
    left: 16.5%;
  }





    .moment_dot1{
        left: 20%;
        top: 35%;
    }
    .moment_dot2{
        left: 77%;
        top: 34.5%;
    }
    .moment_dot3{
        left: 70%;
        top: 59.8%;
    }
    .moment_dot4{
        left: 25%;
    }
    
    .moment_point1{
        left: calc(20% - (238px / 2));
        top: calc(36% - 100px);
    }
    .moment_point2{
        left: calc(77% - (238px / 2));
        top: calc(36% - 100px);
    }
    .moment_point3{
        left: calc(70% - (100px / 2));
        top: calc(58% + 30px);
    }
    .moment_point4{
        left: calc(25% - (238px / 2));
        top: calc(59% + 30px);
    }




    .serviceFooter_bg_logomark{
        position: absolute;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: auto;
    }

}

/* === MOBILE: 767px and below === */
@media (max-width: 767px) {
    .information_secIn{
        gap: 20px;
    }


    .section_CTA.serviceLP_section_CTA{
        margin-top: 40px;
    }


    .restore-wheel-section {
        display: none;
    }
    .restore-wheel-inner .section_head::before{
        display: none;
    }
    .restore-section-mobile{
        display: block;
    }

    .restore_cards_wrapper{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .restore_mobCard{
        background: rgba(23, 17, 44, 1);
        border: 0.7px solid rgba(60, 56, 79, 1);

        padding: 20px 24px;
        border-radius: 12px;
    }
    .restore_mobCard .restore_card_title{
        font: 400 20px var(--adobeFont);
        letter-spacing: -1%;
        line-height: 22px;
        margin-bottom:10px;
    }

    .restore_mobCard .restore_card_body{
        font-size: 14px;
    }



    .moment_img_Wrap{
        display: none;
    }
    .moment_dot{
        display: none;
    }

    .moment_cntnt_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
        margin-top: 40px;
    }
    .moment_point{
        position: relative;
        inset: auto;
        width: 100%;
        max-width: 90%;
    }

    

    .technology_biology_in{
        padding: 0px 0;
    }
    .tech_meet_bio_cntntWrap{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        margin-top: 40px;
    }



    .deeper_work_in{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 60px 0;
    }
    .deeper_work_img {
        overflow: hidden;
        width: 100%;
        max-height: 500px;
    }
    .deeper_work_in .container{
        padding: 0 20px;
    }
    .deeper_work_body{
        gap: 40px;
        padding-top: 30px;
    }


    .serviceLP_footer{
        padding: 0 20px;
        padding-top: 30%;
    }

}

/* === SMALL MOBILE: 480px and below === */
@media (max-width: 480px) {
    .hero_content_wrap_top h1{
        font-size: 40px;
    }



    .restore-section-mobile{
        padding: 60px 0;
    }


    .moment_cntnt_wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 20px;
        margin-top: 40px;
    }
    .moment_point{
        align-items: start;
        text-align: left;
        gap: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(49, 49, 49);
    }
    .moment_secIn::before{
        display: none;
    }


    .technology_biology_in{
        padding: 60px 0;
    }
    .tech_meet_bio_cntntWrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .deeper_work_in{
        padding-top: 0;
    }
    .deeper_work_img{
        max-height: 260px;
    }

    .serviceLP_footer{
        padding: 0 20px;
        padding-top: 40%;
    }
    .serviceFooter_gradient{
        top: -30%;
    }
}